# server
MONGODB_QURAN_URI="https://MONGODB_QURAN_URI"
MONGODB_HADITH_CHAPTERWISE_ABM_URI="https://MONGODB_HADITH_CHAPTERWISE_ABM_URI"
MONGODB_HADITH_CHAPTERWISE_ITN_URI="https://MONGODB_HADITH_CHAPTERWISE_ITN_URI"
MONGODB_HADITH_BOOKWISE_URI="https://MONGODB_HADITH_BOOKWISE_URI"
MONGODB_SUPPLICATION_URI="https://MONGODB_SUPPLICATION_URI"

# public
NEXT_PUBLIC_API_BASE="https://NEXT_PUBLIC_API_BASE"